/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				                   &kp W     &kp E       &kp R   &kp T                       &kp Y   &kp U      &kp I      &kp O  
				&kp GRAVE  &kp Q   &kp S     &kp D       &kp F   &kp G                       &kp H   &kp J      &kp K      &kp L     &kp P     &kp BSLH
				&kp TAB    &kp A   &kp X     &kp C       &kp V   &kp B                       &kp N   &kp M      &kp COMMA  &kp DOT   &kp SEMI  &kp APOS  
				&kp DEL    &kp Z   &kp HOME  &kp LSHIFT  &kp BSPC                                    &kp SPACE  &kp LCTRL  &kp LBKT  &kp RBKT  &kp FSLH 
			>;
		};
	};
};